.restaurants-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants-index-splash {
  width: 100%;
  background-size: cover;
  height: 350px;
  background-image: url('/images/spl1.jpg');
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
}

.restaurant-snippets {
  background: white;
  width: 80%;
  margin: 30px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
  border-radius: 7px;
}

.restaurants-index .search-bar {
  background: transparent;
  border:none;
}

.restaurants-index .seats-form {
  border: none;
}

.city-index-splash .search-bar {
  position: absolute;
  top: 70%;
}

.city-index-splash .restaurants-index-splash {
  position: relative;
  background-image: url('/images/spl3.jpg');
}
