.review-form-container {
  position: absolute;
  z-index: 1;
  left: 30%;
  width: 40%;
  height: 30%;
  background: white;
  border-radius: 7px;
  border-bottom: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-details {
  height: 60%;
  width: 90%;
}
