.reviews-section {
  margin: 20px 0px;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  border-bottom: 1px solid gainsboro;
}

.reviews-section .snippet-section {
  border: none;
  margin: 10px 0px;
  display: flex;
}

.review-snippet-main {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.review-snippet-top-bar {
  flex: 1;
}

.review-snippet-top-bar ul {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: darkgray;
}

.review-description {
  flex: 6;
}

.review-snippet-right-bar {
  flex: 2;
  margin-left: 10px;
  color: gray;
  font-size: 12px;
  font-weight: lighter;
}

.review-snippet-right-bar li{
  margin: 3px 0px;
}
