.snippet-section {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 0px 10px 0px 10px;
}

.snippet-photo {
  /*max-height: 80%;*/
  flex: 3;
  margin: 15px 10px;
}

.snippet-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.snippet-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  vertical-align: middle;
}

.snippet-info {
  display: flex;
  flex-direction: column;
  flex: 6;
  margin: 15px 10px;
}

.detail-fade {
  color: gray;
}

.snippet-price {
  flex: 1;
  margin: 15px 10px;
}

.snippet-review {
  flex: 6;
  margin: 15px 10px;
}
