// Place all the styles related to the api/cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .featured-areas-splash {
//   background: white;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   width: 80%;
//   margin: 0 auto;
//   border-radius: 4px;
//   border-bottom: 1px solid grey;
//   margin-top: 30px;
// }
//
// .splash-header {
//   display: flex;
//   padding-left: 50px;
// }
//
// .splash-images {
//   display: flex;
//   flex-wrap: wrap;
//   align-self: center;
//   width: 100%;
//   margin: 0 auto;
// }
//
//
// .splash-img {
//   height: 250px;
//   width: 350px;
//   background-size: cover;
//   position: relative;
// }
//
// .splash-img img {
//   width: 100%;
//   height: 100%
// }
//
// .splash-img h2 {
//   z-index: 9;
//   position: absolute;
//   top: 20%;
//   left: 20%;
//   color: white;
// }


.featured-areas-splash {
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-radius: 4px;
  border-bottom: 1px solid grey;
  margin-top: 90px;
}

.splash-header {
  display: flex;
  padding-left: 50px;
}

.splash-images {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 0 auto;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}


.splash-img {
  display: inline-block;
  height: 250px;
  width: 33.3333%;
  background-size: cover;
  position: relative;
}

.splash-img img {
  width: 100%;
  height: 100%
}

.splash-img h2 {
  z-index: 9;
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
}

.splash-city-names {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
}

.splash-city-name {
  margin: 7px 0px;
  width: 25%;
}

.splash-city-name h4 {
  display: inline;
  color: #237b98;
}

.splash-city-name h4:hover {
  color: #18566b;
}
