.editable-input {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px 5px;
}

.horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px 5px;
  width: 100%;
}

.manager-text {
  margin: 0px 5px;
}

.manager-highlight {
  color: #D41010;
}

.editable-text {
  margin: 0px 5px;
  padding: 2px;
  border: 1px solid gainsboro;
  border-radius: 3px;
  color: #D41010;
  background-color: whitesmoke;
}

.editable-text:hover {
  cursor: pointer;
  border: 1px solid #D41010;
}

.manager-add-table {
  align-items: center;
  justify-content: space-between;
}

.user-show-nav .button {
  width: fit-content;
  height: fit-content;
}

.manager-date {
  padding: 0px 15px;
}
