.show-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

.section-img {
  display: inline-block;
  max-height: 230px;
}

.section-img img {
  display: inline-block;
  width: 99%;
  height: 99%;
}
