// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reservations-container {
  background: white;
  margin: 30px 0px;
  border-radius: 7px;
  border-bottom: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reservations-container .search-bar {
  width: 90%;
  border: none;
  margin: 0 auto;
}

.reservation-show {
  display: flex;
  justify-content: center;
}

.res-avail-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.reserve-date {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.res-button {
  display: inline-block;
  margin: 15px;
  flex: 1;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.not-reservable {
  background: gainsboro;
  color: #d41010;
}

.new-res {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f13737;
  width: 90%;
  padding: 10px 0px;
}

.res-message {
  flex: 7;
  text-align: center;
}

.new-res-button {
  flex: 2;
  align-content: center;
}

.new-res-button .button {
  margin: 0 auto;
  width: 100%;
  align-self: center;
}
