// Place all the styles related to the api/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-view {
  display: flex;
  flex-direction: column;
}

.restaurant-splash {
  display: flex;
  justify-content: flex-start;
  height: 230px;
}

.restaurant-splash-img {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  padding: 10px;
  padding-left: 60px;
  justify-content: flex-end;
}

.splash-img-holder {
  width: 85%;
  position: relative;
}

.splash-img-holder img {
  width: 100%;
  position: absolute;
  bottom: -20px;
  border-radius: 7px;
}

.res-img {
  background-size: cover;
  overflow: hidden;
  width: 90%;
  padding-top: 90%;
  border-radius: 5px;
}

.splash-details {

  flex: 6;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px;
}

.splash-name {
  position: relative;
  flex: 7;
  margin: 5px;
  color: white;
  font-size: 40px;
}

.splash-name h1 {
  position: absolute;
  bottom: 0px;
  left: 5px;
  display: inline-block;
  margin: 0 auto;
}

.splash-ratings {
  flex: 3;
  display: inline-block;
  height: 15px;
  margin: 5px;
  color: silver;
}

.splash-info {
  display: flex;
  flex: 2;
  justify-content: space-between;
  margin: 5px;
  padding-left: 5px;
  color: silver;
}

.info-details {
  display: flex;
  flex: 5;
  justify-content: flex-start;
  align-items: center;
}

.splash-cuisine {
  padding-right: 15px;
  border-right: 1px solid gray;
  text-align: center;
}

.splash-location {
  padding: 0px 15px;
  text-align: center;
}

.likes {
  flex: 3;
}

.restaurant-body {
  display: flex;
}

.restaurant-left {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 15px;
}

.restaurant-left article {
  width: 100%;
  text-align: center;
  color: lightslategray;
}

.restaurant-left article:hover {
  color: #A70303;
  cursor: pointer;
}

.restaurant-mid {
  display: flex;
  flex-direction: column;
  flex: 7;
  margin-top: 30px;
  border-bottom: 1px solid lightgray;
}

.restaurant-about {
  background: white;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  border-radius: 7px;
}

.about-text {
  display: flex;
  flex-direction: column;
  flex: 11;
}

.about-header {
  padding: 10px 20px 15px 20px;
  margin: 20px 0px;
  border-bottom: 1px solid lightgray;
}

.about-header h2 {
  margin: 0;
}

.about-description {
  padding: 0 20px;
  line-height: 30px;
}
.restaurant-map {
  flex: 9;
}

.show-photos {
  background: white;
  margin: 20px 0px;
  border-bottom: 1px solid gray;
  border-radius: 7px;
}

.restaurant-right {
  background: white;
  display: flex;
  flex-direction: column;
  flex: 3;
  max-height: 500px;
  padding: 0px 20px;
  margin: 30px 20px 0px 30px;
  font-weight: 100;
  color: #707070;
  border-radius: 7px;
  border-bottom: 1px solid lightgray;
}

.restaurant-right h4{
  color: black;
  margin: 12px 0px;
  font-weight: bold;
}

.icon {
  color: #D41010;
  margin-right: 10px;
}

.grey-right {
  background: -webkit-linear-gradient(left, #222, #666);
}

.grey-left {
  background: -webkit-linear-gradient(right, #222, #666);
}

// .blue-right {
//   background: -webkit-linear-gradient(left, #000066, #003366);
// }
//
// .blue-left {
//   background: -webkit-linear-gradient(left, #003366, #000066);
// }
//
// .brw-right {
//   background: -webkit-linear-gradient(left, #333300, #333333);
// }
//
// .brw-left {
//   background: -webkit-linear-gradient(left, #333333, #333300);
// }
//
// .brown-right {
//   background: -webkit-linear-gradient(left, #562400, #8F3C00);
// }
//
// .brown-left {
//   background: -webkit-linear-gradient(left, #8F3C00, #562400);
// }
//
// .blue-right {
//   background: -webkit-linear-gradient(left, #222, #666);
// }
//
// .blue-left {
//   background: -webkit-linear-gradient(left, #222, #666);
// }
