.search-bar {
  width: 80%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px 30px 30px 20px;
  border-bottom: 1px solid gainsboro;
}

.search-fields {
  display: flex;
  width: 100%;
  align-self: center;
}

.seats-form {
  display: flex;
  justify-content: center;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  border-radius: 7px;
  width: 100%;
}

.search-bar ul li {
  margin: 0;
  width: 100%;
}

.seats-form section {
  margin:0;
}

.seats-form .input {
  border: none;
  padding: 10px 20px;
  margin: 0;
  background: white;
  font-size: 14px;
  border-radius: 0px;
  border-right: 1px solid gainsboro;
}

.seats-item:hover {
  background: #FF8787;
  color: white;
  cursor: pointer;
}

.time-item:hover {
  background: #FF8787;
  color: white;
  cursor: pointer;
}

.highlight {
  background: #FF8787;
  color: white;
}

.search-field .input {
  border: none;
  width: 100%;
}

.search-fields section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seats-form select {
  height: 100%;
  align-self: center;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance:none;
}

.seats-form select option {
  background: white;
  border-radius: 0px;
}

.seats-form .bar-seats {
  border-radius: 7px;
  border-left: 1px solid gainsboro;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  align-items: center;
  flex: 2;
  position: relative;
}

.bar-date {
  flex: 2;
}

.bar-time {
  flex: 2;
  position: relative;
  border-radius: 0px;
}

.time:hover {
  cursor: pointer;
}

.seats:hover {
  cursor: pointer;
}

.search-field {
  margin: 0px;
  flex: 6;
}

.search-box-container {
  width: 100%;
  position: relative;
}

.search-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  max-height: 300px;
  top: 55px;
  left: 0px;
  overflow: hidden;
  z-index: 9;
  font-size: 14px;
  padding: 5px;
  color: gray;
  background: white;
  border: 1px solid gainsboro;
}

.time-list {
  z-index: 8;
  position: absolute;
  left: -1px;
  overflow: scroll;
}

.search-field li:hover {
  background: #FF8787;
  color: white;

}

.search-field input {
  margin: 0px;
}

.no-search {
  display: none;
}

.bar-submit {
  flex: 2;
  text-align: center;
  color: white;
  border-radius: 7px;
  border: 1px solid #A70303;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 18px;
  background: #F13737;
  padding-left: 3%;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    color: gray;
}

.bar-submit:hover {
  background: #A70303;
  cursor: pointer;
  transition-duration: .5s;
}

.search-res-cities, .search-res-res {
  font-size: 14px;
  font-weight: bold;
  color: dimgray;
}

.search-list li:hover {
  cursor: pointer;
}

.red::-webkit-input-placeholder {
  color: #F13737;
}

.seats-list {
  position: absolute;
  z-index: 8;
  left: auto;
  right: 0px;
}

.seats-form .res-present {
  border-radius: 7px;
  border: 1px solid gainsboro;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.input-wrapper {
  z-index: 7;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
