body, main, div, section, a, section, div, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

main, section, div, footer {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.errors {
  color: red;
}
