.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
}

.login-form {
  background: white;
  border-radius: 7px;
  border-bottom: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  margin-top: 50px;
  width: 30%;
  text-align: center;
}

.welcome {
  text-align: center;
  color: #D41010;
}

.login-form form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px 0px;
  padding: 10px;
  border-top: 1px solid #A70303
}

.input {
  display: flex;
  width: 90%;
  height: 35px;
  align-self: center;
  margin: 10px 0px;
  border-radius: 3px;
  border:1px solid black;
  -moz-appearance: none;
  -webkit-appearance:none;
}

.button {
  display: block;
  width: 40%;
  color: white;
  font-size: 18px;
  background: #F13737;
  border: 1px solid #A70303;
}

.button:hover {
  background: #A70303;
  cursor: pointer;
  transition-duration: .5s;
}

button {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 35px;
  width: 35%;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  background: #F13737;
  border: 1px solid #A70303;
}

.switch-link {
  display: inline-block;
  margin-bottom: 5px;
  color: blue;
}

.switch-link:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
