.footer {
  height: 30px;
  margin-top: 20px;
  background-color: white;
  padding: 15px;
}

.footer-links {
  vertical-align: middle;
  display: flex;
  color: gray;
}

.footer-links li {
  margin: 0px 10px;
}

.footer a:hover {
  font-weight: bold;
  font-size: 16px;
  color: darkgray;
}
